---
import Layout from '../layouts/Layout.astro';
import Bannerimagenfull from '../components/Bannerimagenfull.astro';
import ContactInfo from '../components/ContactInfo.astro';
---

<Layout title="Laboratorio Laser - Contacto">
	<main class="main-content">
		<Bannerimagenfull/>

    <ContactInfo/>

	</main>
	
	
	
</Layout>

<style>
  /* Contenedor Principal (main) */
  .main-content {
    width: 100%;
    
  }
  
  </style>