---
import Layout from '../layouts/Layout.astro';
import BloqueInformativo from '../components/BloqueInformativo.astro';
import BloqInfoDos from '../components/BloqInfoDos.astro';
import BloqInfoTres from '../components/BloqInfoTres.astro';
import BloqInfoCuatro from '../components/BloqInfoCuatro.astro';

---

<Layout title="Laboratorio Laser - Nosotros">
	<main class="main-content">
		
    <BloqueInformativo title='¿QUIÉNES SOMOS?' puno='Laboratorio Serológico Lasser es una compañía sólida, orgullosamente peruana con más de 17 años de experiencia en asistencia y asesoría profesional a la industria avícola, porcina y agropecuaria, brindando un servicio exclusivo y personalizado a nuestros clientes, asegurándonos que reciban la ayuda oportuna y especializada que se merecen y demandan.'  pdos='Nuestro objetivo es brindar un diagnóstico oportuno, para una mejor prevención y tratamiento de enfermedades que repercutan en el resultado productivo y por ende económico de cada empresa, brindándoles asimismo confiabilidad, confidencialidad y rapidez.'  ptres='Laboratorio Serológico Lasser está dedicado a mejorar continuamente la calidad de sus servicios, ofreciendo a nuestros clientes resultados y asesoría de manera oportuna, estamos comprometidos social y económicamente con el desarrollo del país y en armonía con el medio ambiente; orientados hacia la obtención de logros rentables. Contamos con un recurso humano altamente calificado y comprometido a solucionar los problemas existentes en el campo, contando con las exigencias del actual avance científico, para satisfacer las necesidades de nuestros clientes.'  />

    <BloqInfoDos huno='MISIÓN' puno='Brindar un servicio de diagnóstico especializado, rápido, certero y confiable, utilizando métodos basados en estándares internacionales realizados por un staff de profesionales altamente calificados y con muchos años de experiencia al servicio de la industria avícola, porcina y agropecuaria; contribuyendo al mejoramiento y calidad de vida de la comunidad.' hdos='VISIÓN' pdos='Ser un laboratorio de diagnóstico reconocido a nivel nacional e internacional por su tecnología innovadora, excelencia en sus servicios y altos estándares de calidad.' />
 
    
    <BloqInfoTres title='PREMIOS Y RECONOCIMIENTOS'/>

    <BloqInfoCuatro titulo='PUBLICACIONES' subtone='Título de publicación' textuno='Autores'/>

    

    
    
	</main>
	
	
	
</Layout>

<style>
/* Contenedor Principal (main) */
.main-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}






</style>
