---
import Layout from '../layouts/Layout.astro';
import Bannerimagenfull from '../components/Bannerimagenfull.astro';
import NavInternoCards from '../components/NavInternoCards.astro';
---

<Layout title="Laboratorio Laser - Noticias">
	<main class="main-content">
		<Bannerimagenfull/>
    <NavInternoCards/>
    
    
	</main>
	
	
	
</Layout>

<style>
  /* Contenedor Principal (main) */
  .main-content {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  


  </style>
