---
import Layout from '../layouts/Layout.astro';
import Bannerimagenfull from '../components/Bannerimagenfull.astro';
import NavInterno from '../components/NavInterno.astro';
---

<Layout title="Laboratorio Laser - Servicios">
	<main class="main-content">
    <Bannerimagenfull/>
    <NavInterno/>
	</main>
	
	
	
</Layout>

<style>
  /* Contenedor Principal (main) */
.main-content {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

</style>
