
---
---
<footer class="footer">
  <div class="footer-container">
    <!-- Logo y sección izquierda -->
    <div class="footer-section left">
      <img src="/logo_vector_footer.svg" alt="Logo Lasser" class="footer-logo" />
    </div>

    <!-- Sección derecha -->
    <div class="footer-section right">
      <ul class="footer-links">
        <li><a href="#">Sede Principal: Calle Rodolfo Beltrán 110</a></li>
        <li><a href="#">Urbanización Santa Catalina: La Victoria - Lima</a></li>
      </ul>
    </div>

    <div class="footer-section right">
      <ul class="footer-links">
        <li><a href="#">Central Telefónicas: (01) 234 5678</a></li>
        <li><a href="#">WhatsApp para Clientes: 999 999 999</a></li>
        <li><a href="#">Cliente: ventas@laboratorioserologioclasser.com</a></li>
        <li><a href="#">Facturación: facturas@laboratorioserologioclasser.com</a></li>
        <li><a href="#">Administración: admin@laboratorioserologioclasser.com</a></li>
      </ul>
    </div>
    <!-- Sección derecha -->
    <div class="footer-section right">
      <ul class="footer-links">
        <li><a href="/nosotros">Nosotros</a></li>
        <li><a href="/contacto">Contacto</a></li>
      </ul>
    </div>
  </div>
</footer>

<style>
  /* Estilos generales del Footer */
.footer {
  width: 100%;
  background-color: rgb(31, 116, 77); /* Color de fondo verde */
  padding: 2rem 0;
  color: #ffffff; /* Color del texto en blanco */
  position: relative;
  box-sizing: border-box;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  gap: 20px;
}

/* Estilos de cada sección del footer */
.footer-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Logo */
.footer-logo {
  width: 150px;
  margin-bottom: 10px;
}

/* Enlaces del Footer */
.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
	font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #cccccc; /* Cambia a un color gris claro al pasar el cursor */
}

/* Responsividad */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    align-items: center;
    margin-bottom: 20px;
  }

  .footer-logo {
    width: 120px; /* Tamaño ajustado para pantallas pequeñas */
  }
}

</style>